* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: #f4f4f9;
    --color-texto: #333333;
    --color-primario: #007bff;
    --color-secundario: #6c757d;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: Arial, sans-serif;
}

/* Menú de Navegación */
.menu-principal {
    background-color: var(--color-secundario);
    padding: 15px;
}

.menu-principal ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.elemento-lista {
    margin: 0;
}

.elemento-lista a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

.elemento-lista a:hover {
    color: var(--color-primario);
}